.month_name {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 15px;
    padding-left: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.trash_icon {
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
}