.month_name {
    display: flex;
    align-items: center;
    justify-content: left;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 7px;
}

.trash_icon {
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
}