.App {
  display: grid;
  grid-template-areas:
    "header        header"
    "calender_left calender_right"
    "footer        footer";
  grid-template-rows: 10vh minmax(80vh, auto) 10vh;
  grid-template-columns: 1fr 1fr;
}

.header {
  grid-area: header;
  background-color: rgb(198, 255, 207);
}

.calender-left {
  grid-area: calender_left;
}
.calender-right {
  grid-area: calender_right;
  transform: scale(0.7);
  background-color: pink;
}
.footer {
  grid-area: footer;
  background-color: rgb(198, 255, 207);
}

.calender1 {
  display: grid;
  grid-template-areas:
    "one two"
    "three four";
  padding: 3em;
  grid-template-rows: 50px 50px;
  transform: scale(0.1);
}
.calender2 {
  display: grid;
  grid-template-areas:
    "one two"
    "three four";
  padding: 3em;
  grid-template-rows: 50px 50px;
  transform: scale(1);
}

.one,
.two,
.three,
.four {
  display: flex;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
}
