.App {
  display: grid;
  grid-template-areas:
    "header        header"
    "calender_left calender_right"
    "footer        footer";
  grid-template-rows: 10vh minmax(80vh, auto) 10vh;
}

.header {
  grid-area: header;
  background-color: rgb(198, 255, 207);
}

.calender-left {
  grid-area: calender_left;
}
.calender-right {
  grid-area: calender_right;
}
.footer {
  grid-area: footer;
  background-color: rgb(198, 255, 207);
}

.calender {
  display: grid;
  grid-template-areas:
    "one two"
    "three four";
  padding: 1em;
}

.one,
.two,
.three,
.four {
  display: flex;
  align-content: center;
  justify-content: center;
  border: 1px solid black;
}
