@import "../../globals.module.scss";

.header {
    display: flex;
    justify-content: space-between;
}

.month {
    font-size: 2em;
    padding: 20px;
}

.container{ 
    display: flex;
    flex-wrap: wrap;
}

$square_size: 200px;

.square {
    border: 1px solid black;
    border-radius: 4px;
    height: $square_size;
    width: $square_size;
}

.one_day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.day {
    font-size: 1.5em;
    padding: 10px;
}

.day_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.day_of_week {
    padding: 10px;
}

.note {

}